body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 30px;
}

header{
    background-color: rgb(141, 210, 141);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

header img {
    border-radius: 350px;
    border: 10px solid #fff
}

header h1 {
    font-size: 40px;
    font-family: 'Ultra', serif;
    color: #fff
}

header h2 {
    font-family: 'Ultra', serif;
    font-size: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img {
    max-width: 100%;
}

h2 {
    font-size: 30px;
    color: darkolivegreen;
    margin: 40px 0 10px;
}

a {
    color: forestgreen;
}

a:hover {
    color: bisque;
    background-color: antiquewhite;
}

footer {
    text-align: center;
    color: #fff;
    padding: 40px;
    background-color: rgb(82, 165, 82) 
}

footer a {
    color:white;
}

footer a:hover{
    opacity: 0,5;
    background-color: antiquewhite;
}
